*.exe
*.mdb
*.userprefs
*.pidb
*.suo
*.out
*/*/bin/
*/*/obj/
*.swp
build/
config.log
config.make
configure
Makefile
bin/
build-stamp
missing
debian/tmp
debian/*.log
aclocal.m4
config.status
Makefile.in
autom4te.cache
.DS_Store
src/*/test-results
*.orig
*.test-cache
TestResult.xml
src/*/TestArea/*
src/MyTest
*.serialised
src/*.user
src/UpgradeLog*.XML
src/_UpgradeReport_Files
src/*/*.user
install-sh
debian/files
debian/*.substvars
debian/donald
